<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
    <body>
        <main>
            <h1>Create a message</h1>
            <form method="POST" action="/new">
                <p>
                    <label for="userName">Author:</label>
                    <input type="text" id="userName" name="userName" />
                </p>
                <p>
                    <label for="userMessage">Message:</label>
                    <input type="text" id="userMessage" name="userMessage" />
                </p>
                <button type="submit">Submit</button>
            </form>
        </main>
    </body>
</html>
