<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
    <body>
        <ul>
            <% messages.map((message) => { %>
                <p>user: <%= message.user %></p>
                <p>says: <%= message.text %></p>
                <p>date: <%= message.added %></p>
            <% }) %>
        </ul>
        <a href="/new">Add new message</a>
    </body>
</html>
