<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

    <body>
        <div class="container">
            <h1>Messages Details</h1>
            <div class="message-card">
                <div class="message-header">
                    <span class="user-name">
                        <%= item.username %>
                    </span>
                </div>
                <p class="message-text">
                    <span class="user-name">
                        MESSAGE:
                    </span>
                    <%= item.message %>
                </p>
                <p class="message-text">
                    <span class="user-name">
                        CREATED AT:
                    </span>
                    <%= timing %>
                </p>
                <a href="/" class="btn-open">Go back →</a>
            </div>
        </div>
    </body>

</html>