<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
    <body>
        <div class="container">
            <h1>Messages Details</h1>
            <div class="message-card">
                <div class="message-header">
                    <span class="user-name">
                        <%= message.user %>
                    </span>
                    <span class="date">
                        <%= message.added %>
                    </span>
                </div>
                <p class="message-text">
                    <%= message.text %>
                </p>
                <a href="/" class="btn-open">Go back →</a>
            </div>
        </div>
    </body>
</html>