body {
    display: flex;
    justify-content: center;
}

main p,
main a {
    font-size: clamp(1rem, 1.5vw + 0.5rem, 1.25rem);
}

main h1 {
    font-size: clamp(1.4rem, 3vw + 1rem, 2rem);
    text-align: center;
}
